@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d6cdea;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #D6CDEA;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.backgroundImage {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImage::before {
  content: "";
  position: fixed; /* Change to fixed so it stays in place on scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/pattern_triangles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity */
  z-index: -1; /* Ensure it stays behind content */
}
